{% load static %}

<div id="slide-out" class="side-nav sn-bg-4 fixed">
    <ul class="custom-scrollbar">

        <!-- Logo -->
        <li class="logo-sn waves-effect py-3">
            <div class="text-center">
                <a href="#" class="pl-0"><img src="{% static 'images/logoes/socar-aqs/logo_ufuqi_qara.png' %}" height="30" alt="socar-aqs logo"></a>
            </div>
        </li>


        <!-- Side navigation links -->
        <li>
            <ul class="collapsible collapsible-accordion">

                {% if user.is_superuser %}
                    <li>
                        <a href="{% url 'admin:index' %}" class="collapsible-header waves-effect"><i
                                class="w-fa fas fa-user"></i>Admin</a>
                    </li>
                {% endif %}


                <li>
                    <a href="{% url 'equipment_part_request_app:template_dashboard' %}" class="collapsible-header waves-effect"><i
                            class="w-fa fas fa-tachometer-alt"></i>Dashboard</a>
                </li>

                <li>
                    <a class="collapsible-header waves-effect arrow-r">
                        <i class="w-fa fas fa-table"></i>Requests<i class="fas fa-angle-down rotate-icon"></i>
                    </a>
                    <div class="collapsible-body">
                        <ul>
                            <li>
                                <a href="{% url 'equipment_part_request_app:list_all_requests' %}" class="waves-effect">All</a>
                            </li>
                            <li>
                                <a href="{% url 'equipment_part_request_app:list_pending_requests' %}" class="waves-effect">Pending</a>
                            </li>
                            <li>
                                <a href="{% url 'equipment_part_request_app:list_accepted_requests' %}" class="waves-effect">Accepted</a>
                            </li>
                            <li>
                                <a href="{% url 'equipment_part_request_app:list_rejected_requests' %}" class="waves-effect">Rejected</a>
                            </li>
                            <li>
                                <a href="{% url 'equipment_part_request_app:list_closed_requests' %}" class="waves-effect">Closed</a>
                            </li>
                        </ul>
                    </div>
                </li>

            </ul>
        </li>
        <!-- Side navigation links -->

    </ul>
    <div class="sidenav-bg mask-strong"></div>
</div>