{% extends 'base/base.html' %}

{% block title %}
    <title>Login</title>
{% endblock %}

{% block main %}
    <div class="container-fluid d-flex justify-content-center align-content-center">
        {% if not user.is_authenticated %}
            {% include 'registration/blocks/login_form.html' %}
        {% else %}
            {% include 'registration/blocks/alert.html' %}
        {% endif %}
    </div>
{% endblock %}

{% block css %}
    <style>
        .fixed-action-btn{
            visibility: hidden;
        }
    </style>
{% endblock %}