#container-graph-doughnut{
    padding: 27px;
    border-radius: .25rem;
    background-color: #fff;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    border: 1px solid rgba(0,0,0,.125)!important;
}

.black-background{
        background-color: #262A37!important;
}

.card{
    border: 1px solid rgba(0,0,0,.125)!important;
}

#print-table{
    width: 30px;
    display: flex;
    justify-content: center;
    position: absolute;
    padding: 10px;
    border-radius: .2rem;
    right: 50px;
    top: 25px;
}

.modal-backdrop{
    width: 100%!important;
    height: 100%!important;
}

.navbar{
    -webkit-border-radius: 0 0 0.7rem 0.7rem;
    -moz-border-radius: 0 0 0.7rem 0.7rem;
    border-radius: 0 0 0.7rem 0.7rem;
}

.bg-black{
    background-color: black!important;
}